NODE_ENV="development"
PORT=3000
DATABASE_URL="postgresql://academix:academix@localhost:5432/academix?schema=public"
CORS_ORIGIN="http://localhost:3000"
CORS_CREDENTIALS=true
CORS_METHODS="GET,HEAD,PUT,PATCH,POST,DELETE"
CORS_ALLOWED_HEADERS="Content-Type,Authorization"
CORS_EXPOSED_HEADERS=""
